header,
footer {
	background-color: black;
	color: white;
}

blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	width: 90%;
	margin: 0.25em 0;
	padding: 0.35em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

blockquote:before {
	display: block;
	padding-left: 10px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}

blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}

.blinkText {
	font-weight: 800 !important;
	-webkit-animation: textcolorchange 4s infinite;
	/* Chrome, Safari, Opera */
	animation: 4s infinite textcolorchange;
}

@keyframes textcolorchange {
	0% {
		color: red;
	}

	25% {
		color: green;
	}

	50% {
		color: blue;
	}

	75% {
		color: chocolate;
	}

	100% {
		color: red;
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes textcolorchange {
	0% {
		color: red;
	}

	25% {
		color: yellow;
	}

	75% {
		color: green;
	}

	100% {
		color: blue;
	}
}

.comingsoonHeader {
	-webkit-animation: bgcolorchange 4s infinite;
	/* Chrome, Safari, Opera */
	animation: 4s infinite bgcolorchange;
}

@keyframes bgcolorchange {
	0% {
		background-color: red;
	}

	25% {
		background-color: green;
	}

	50% {
		background-color: blue;
	}

	75% {
		background-color: chocolate;
	}

	100% {
		background-color: red;
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bgcolorchange {
	0% {
		background: red;
	}

	25% {
		background: yellow;
	}

	75% {
		background: green;
	}

	100% {
		background: blue;
	}
}


.moveLeftRigh {
	width: 350px;
	height: 47px;
	background: #92B901;
	color: #ffffff;
	position: relative;
	font-weight: 800 !important;
	font-size: 20px;
	padding: 10px;
	animation: animated_div 5s infinite;
	-moz-animation: animated_div 5s infinite;
	-webkit-animation: animated_div 5s infinite;
	-o-animation: animated_div 5s infinite;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

@keyframes animated_div {
	0% {
		transform: rotate(0deg);
		left: 0px;
	}

	25% {
		transform: rotate(20deg);
		left: 0px;
	}

	50% {
		transform: rotate(0deg);
		left: 50%;
	}

	55% {
		transform: rotate(0deg);
		left: 50%;
	}

	70% {
		transform: rotate(0deg);
		left: 50%;
		background: #1ec7e6;
	}

	100% {
		transform: rotate(-360deg);
		left: 0px;
	}
}

@-webkit-keyframes animated_div {
	0% {
		-webkit-transform: rotate(0deg);
		left: 0px;
	}

	25% {
		-webkit-transform: rotate(20deg);
		left: 0px;
	}

	50% {
		-webkit-transform: rotate(0deg);
		left: 90%;
	}

	55% {
		-webkit-transform: rotate(0deg);
		left: 90%;
	}

	70% {
		-webkit-transform: rotate(0deg);
		left: 90%;
		background: #1ec7e6;
	}

	100% {
		-webkit-transform: rotate(-360deg);
		left: 0px;
	}
}

@-moz-keyframes animated_div {
	0% {
		-moz-transform: rotate(0deg);
		left: 0px;
	}

	25% {
		-moz-transform: rotate(20deg);
		left: 0px;
	}

	50% {
		-moz-transform: rotate(0deg);
		left: 90%;
	}

	55% {
		-moz-transform: rotate(0deg);
		left: 90%;
	}

	70% {
		-moz-transform: rotate(0deg);
		left: 90%;
		background: #1ec7e6;
	}

	100% {
		-moz-transform: rotate(-360deg);
		left: 0px;
	}
}

@-o-keyframes animated_div {
	0% {
		transform: rotate(0deg);
		left: 0px;
	}

	25% {
		transform: rotate(20deg);
		left: 0px;
	}

	50% {
		transform: rotate(0deg);
		left: 90%;
	}

	55% {
		transform: rotate(0deg);
		left: 90%;
	}

	70% {
		transform: rotate(0deg);
		left: 90%;
		background: #1ec7e6;
	}

	100% {
		transform: rotate(-360deg);
		left: 0px;
	}
}

.small-width {
	width: 20px !important;
	-webkit-box-flex: 0 !important;
	flex-grow: 0 !important;
}

.input-limit {
	width: 60% !important;
	-webkit-box-flex: 0 !important;
	flex-grow: 0 !important;
}

@media (max-width: 768px) {

	.small-width,
	.input-limit {
		margin-bottom: 0px !important;
	}

	.agreeCls {
		display: flex !important;
	}
}

.termCls {
	display: flex !important;
    -webkit-box-flex: 0 !important;
    flex-grow: 0 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.msgBox {
	display: none;
	color: white;
	font-weight: bold !important;
	padding: 1%;
}

.msgBoxOk {
	background-color: green;
}

.msgBoxFail {
	background-color: red;
}